.main-title{
  display: flex;
  justify-content: center;
  --border-bottom-width: 0.5px;
    --border-color: rgba(255, 255, 255, 0.1);
    --border-left-width: 0.5px;
    --border-right-width: 0.5px;
    --border-style: solid;
    --border-top-width: 0.5px;
    backdrop-filter: blur(20px);
    background: linear-gradient(rgba(70, 101, 173, 0.15) 0%, rgba(102, 102, 102, 0.05) 100%);
    opacity: 1;
    /* border-radius: 20px; */
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0.636953px 0.636953px -0.9375px, rgba(0, 0, 0, 0.1) 0px 1.9316px 1.9316px -1.875px, rgba(0, 0, 0, 0.09) 0px 5.10612px 5.10612px -2.8125px, rgba(0, 0, 0, 0.04) 0px 16px 16px -3.75px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
  left: 0;
  width: 100%;
  /* Other styles */
  z-index: 6;
  }

.center-title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-title2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-top: 100px;
}

.center-directions{
  margin-left: 592px;
}

h1{

    background-image: linear-gradient(rgb(97, 124, 219) 40%, rgba(0, 0, 0, 0.05));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px; 
}

p{
  font-size: 20px;
}

